.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #f1f1f1;
    padding: 10px;
}

.content {
    flex: 1;
    padding: 10px;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
}